body {
  padding: 0px;
  margin: 0px;
  background-color: white;
  font-family: "Keania One", sans-serif;
}

header {
  justify-content: center;
  display: flex;
  background-color: black;
}

header #headerLogo {
  width: 15vw;
}

header #bulb {
  margin-top: 1.5vh;
  margin-left: 1vw;
  width: 1.5vw;
  height: 4.5vh;
}

header nav {
  margin-top: 1.7vh;
  font-size: 2rem;
}

header nav a {
  font-family: "Keania One", sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 0.5vw
}

header nav a:hover {
  text-decoration: underline;
  text-decoration-color: yellow;
}

#inleiding {
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  width: 78vw;
  display: flex;
}

#inleiding img {
  width: 35vw;
  margin-top: 2vh;
}

.GameRates {
  color: rgba(202, 185, 51, 1);
}

#inleiding article {
  font-family: "Roboto", sans-serif;
  margin-left: 1vw;
  width: 40vw;
  font-size: 1.8rem;
}

#homeSectie_kop {
  justify-content: center;
  margin-top: 9vh;
}

#homeSectie_kop h2 {
  margin-left: 2vw;
}

.sectie_kop {
  justify-content: center;
  margin-top: 5vh;
  position: relative;
}

.sectie_kop h2 {
  margin-left: 2vw;
}

.lijn {
  background-color: gray;
  border-style: solid;
  border-color: rgba(156, 156, 156, 1);
  opacity: 50%;
  width: 97vw;
  margin-left: auto;
  margin-right: auto;
}

#hot_topics article {
  display: flex;
  margin-left: 1.2vw;
  margin-top: -4vh;
}

#hot_topics div img {
  width: 23.6vw;
  margin-left: 0.5vw;
}

.rating {
  font-family: "Keania One", sans-serif;
  border-style: solid;
  width: 2vw;
  height: 3vh;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 234, 0, 1);
  position: relative;
  left: 0.8vw;
  top: 4vh;
  font-size: 1.5rem;
  text-align: center;
}

#een {
  background-color: rgba(246, 255, 0, 1);
}

#twee {
  background-color: rgba(161, 161, 161, 1);
}

#drie {
  background-color: rgba(255, 157, 0, 1);
}

#vier {
  background-color: rgba(34, 192, 219, 1);
}

#hot_topics div .game_naam {
  margin-left: 0.7vw;
  margin-top: -0.1vh;
  font-size: 1.5rem;
}

footer {
  display: flex;
  background-color: black;
}

footer picture img {
  padding: 0.3vw;
  width: 3vw;
}

#discord {
  margin-left: 0.2vw;
}

.contact {
  margin-top: 1.6vh;
  display: flex;
  color: white;
}

#email {
  margin-left: 50vw;
}

.contact img {
  margin-left: 1vw;
  margin-right: 1vw;
  width: 2.3vw;
  height: 5vh;
}

.comRating {
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 234, 0, 1);
  width: 1.3vw;
  border-style: solid;
  position: relative;
  top: 2.7vh;
}

#survivalGames {
  margin-bottom: 10vh;
  margin-left: 1vw;
}

#survivalGames img {
  width: 32.3vw;
  margin-right: 0.2vw;
}

.game_naam {
  margin-top: 0vh;
  font-size: 1.3rem;
}

.gameRij {
  display: flex;
}